h1{
    color:rgb(0, 0, 0);
    border:solid
}
.header{
    background-color: brown;
    display:flex;
    justify-content: center;
}
p{
    color: blueviolet;
    text-align: center;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.big{
    margin-left: 100;
    justify-content:space-around;
}
.item{
    position:relative
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0
}
.item:hover p{
    opacity:1
}
.item:hover img{
    opacity:0.1
}